.about-container {
    margin-top: 5rem;
    padding: 5rem 15rem;
    
}

.about-header {
    text-align: center;
    margin-top: 6rem;
    text-transform: uppercase;
    color: var(--shadow);
    font-size: var(--font-size-big);
}

.about-wrapper {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 0;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-top: 7rem;
}

@media screen and (max-width: 500px) {
    .about-wrapper {
        grid-template-columns: 1fr;
    }
}