.about-text {
    /* background: var(--dark-shaded); */
    background-image: linear-gradient(rgba(56, 52, 52, 0.9), rgba(29, 26, 26, .9)), url("https://images.pexels.com/photos/270348/pexels-photo-270348.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    padding: 6rem 8rem;
    clip-path: polygon(0 0, 100% 0, 87% 100%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 87% 100%, 0 100%);
    
}

.about-text__paragraph {
    padding: 1rem 1rem;
    margin-top: 1rem;
    color: var(--light);
    line-height: 1.8;
    font-weight: 300;
    opacity: 0.8;
    font-size: var(--font-size-small);
}

@media screen and (max-width: 1024px) {
    .about-text {
        padding: 1rem 3rem;
        width: 48em;
        clip-path: polygon(0 0, 100% 0, 87% 100%, 0 100%);
        -webkit-clip-path: polygon(0 0, 100% 0, 87% 100%, 0 100%);
    }
}

@media screen and (max-width: 500px) {
    .about-text {
        clip-path: none;
        width: 52em;
        -webkit-clip-path: none;
        padding: 3rem 5rem;

    }

}

@media screen and (max-width: 320px) {
    .about-text {
        
        padding: 3rem 6rem;

    }

}