.about-container {
    margin-top: 10rem;
    
}
.about-wrapper {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 0;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

@media screen and (max-width: 500px) {
    .about-wrapper {
        grid-template-columns: 1fr;
    }
}