* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  
}

@media(max-width: 1250px) {
  html {
      font-size: 56%;
  }
}

@media(max-width: 800px) {
  html {
      font-size: 50%;
  }
}

@media(max-width: 500px) {
  html {
      font-size: 42%;
  }
}

body {
  font-family: 'Montserrat', sans-serif;

}
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500');


/*VARIABLES*/

:root {
  --primary: rgb(238, 217, 217);
  --light: #faf5f5;
  --dark: rgb(51, 42, 42);
  --dark-transparent:rgb(51, 42, 42, .6);
  --dark-shaded: linear-gradient(120deg, rgb(56, 52, 52) 0%, rgb(29, 26, 26) 100%);
  --shadow-faded:linear-gradient(120deg, #a59090 0%, #856969 100%);
  --shadow: rgb(104, 64, 64);
  --hover: rgb(135, 206, 235);
  --lightblue: rgb(51, 115, 136);
  --hoverlight: rgb(238, 197, 202);
  --shaded-dark: linear-gradient(120deg, #9becd4 0%, #46dfdf 100%);
  --cardline:rgb(212, 186, 186);
  --brown-red: rgb(134, 34, 9);
  --background-hero: rgba(100, 90, 90, 0.5), rgba(71, 67, 75, 0.5);

  --font-size-big: 4rem;
  --font-size-mediumbig: 3rem;
  --font-size-medium: 2.5rem;
  --font-size-small: 1.4rem;
  --font-size-verysmall: 1.2rem;

}


.App {
  min-height: 100%;
  overflow: hidden;
  position: relative;

}

.show {
  display: block;
  animation: disappear;


}

.hide {
  display: none;
  animation: disappear;

}
